<% provide(:title, 'All Author') %>
<div class="banner-title text-center">
         <h2><span>ALL AUTHORS</span></h2>
</div>
<% if logged_in? %>
  <% if current_user.admin? %>  
<%= link_to 'Add New Author', new_author_path, class: "btn btn-primary", style: "color: #ffffff" %>
    
  <% end %>
  <table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>Author Name</th>
      <th>Birth</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |a| %>
      <tr>
      	<td><%= a.id %></td>
        <td><%= link_to a.author_name, a %></td>
         <td><%= a.birth %></td>
         <td><%= a.phone %></td>

        <td><%= a.email %></td>
              
        <td><%= link_to 'Edit', edit_author_path(a), class: "btn btn-warning" , :style => "color: #ffffff"%></td>
        <td><%= link_to 'Delete', a, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" , :style => "color: #ffffff"%></td>
        <% end %>
      </table>
      <% if logged_in? %>
	<% if current_user.admin? %>	
		<br><%= link_to "Export to XLS", authors_path(format: "xls") %></br>
<% end %>
<% end %>
<%= will_paginate %>

<% end %>
