<% provide(:title, 'All author') %>
<h1>All Author</h1>

<%= will_paginate %>

<ul class="author">
      <%= render @authors %>
</ul>
<%= will_paginate %>
<% if logged_in? %>
	<% if current_user.admin? %>	
		<br><%= link_to "Add Author", new_author_path %></br>
		<br><%= link_to "Export to XLS", authors_path(format: "xls") %></br>
<% end %>
<% end %>
