<div class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <div class="header-logo">
                            <%=  link_to image_tag("logo.png"), root_path %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="layer-4">
                            <form class="title-4">
                                <%= form_tag(books_path, :method => "get", id: "search-form") do %>
                                    <ul>
                                        <li >
                                            <%= text_field_tag :search, params[:search], placeholder: "Search" , class: 'form-control'%>
                                        </li>
                                       
                                    </ul>
                                <% end %>
                            </form>
                        </div>
                        <!--     <div class="layer-4">
                        <form action="#" class="title-4">
                            <input type="text" placeholder="Enter your book title here">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div> -->
                        
                    </div>   
                               
                    <div class="col-md-6 col-sm-12 hidden-xs">
                        <div class="mainmenu text-center">
                            <nav>
                                <ul id="nav">

                                    <li><%= link_to "HOME", root_path %></li>
                                    <li><%= link_to "CATEGORY", root_path %></a>
                                    <ul class="sub-menu">
                                            <% Category.all.each do |category| %>
                                            <li >
                                            <%= link_to category.category_name, category_books_path(category_id: category.id), class: "link" %>
                                            </li>
                                            <% end %>
                                    </ul>
                                    </li>    
                                    
                                  
                                    <li><%= link_to "ACCOUNT", root_path %></a>
                                    <ul class="sub-menu">
                                        <% if logged_in? %>
                                         <% if current_user.admin  %>
                                            <li><%= link_to "MANAGE CATEGORY", categories_path%></li>
                                            <li><%= link_to "MANAGE AUTHOR", authors_path %></li>
                                    <li><%= link_to "MANAGE PUBLISHER", publishers_path %></li>
                                        <li><%= link_to "MANAGE USER", users_path %></li>
                                        <% end %>
                                            <li><%= link_to "Profile", current_user %></li>
                                             <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                                        <li class="divider"></li>
                                        <li>
                                        <%= link_to "Log out", logout_path, method: :delete %>
                                        </li>
                                            <%else%>
                                              <li><%= link_to "Log in", login_path %></li>
                                              <li><%= link_to "Sign up", signup_path %></li>
                                        <% end %>    
                                        </ul>
                                    </li>    
                                </ul>
                            </nav>
                        </div>                        
                    </div>
                    
                </div>
            </div>
        </div>